body {
    background-image: url('https://img.freepik.com/free-vector/night-cloudy-sky-with-stars-dark-starry-heaven_107791-16508.jpg?w=2000');
    background-repeat: no-repeat;
    background-color: black;
}
h2 {
    font-family: 'Yusei Magic', sans-serif;
}

.board {
    background-color: #00c1db;
    height: 360px;
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 15px;
}
.small-square {
    background-color: black;
    height: 295px;
    width: 240px;
    border-radius: 10px;
}
.tile {
    background-color: white;
}
.row {
    display: flex;
    align-items: center;
}
